@model QuanLyDiemDanh.Models.GiaoVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GiaoVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gv_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gv_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gv_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gv_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gv_sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gv_sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gv_bangcap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gv_bangcap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gv_tendangnhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gv_tendangnhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gv_ma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
